h2 {
  color: rgb(230, 248, 126);
  letter-spacing: 1px;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}
.welcome {
  height: 150px;
  width: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -155px;
}

.welcome-button {
  background-color: black; /* Green */
  border: none;
  color: yellow;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 100px;  
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
 
   
    
}

input[type=text]{
  width:15%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
  margin-left: 70px;
}

input[type=text]:focus{
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}
.icon {
  height: 47px;
  width: 40px;
  display: block;
  /* Other styles here */
}

.rock {
  background: url('icons8-hand-rock-48.png');
}

.scissors {
  background: url('icons8-hand-scissors-48.png');
}

.paper {
  background-image : url('icons8-hand-48.png');
}